<h1> wElCoMe To Your Destination Page </h1>

<p> The Newest 5 Destinations: <%= @destination.five_most_recent_posts%></p>
<br>
<p>THE destination with the most likes: <%= @destination.featured_destination.title %></p>
<br>
<p> The Average age of our travelers: <%= @destination.average_age%> </p>
